.container{
  margin-top: 20px;
}
#caption{
  height: 50px;
  width: 100%;
  background: rgb(215,63,63);
  background: linear-gradient(90deg, rgba(215,63,63,1) 0%, rgba(240,235,155,1) 50%, rgba(138,215,63,1) 100%);
}